*{
	margin: 0px;
	padding: 0px;
	border: none;
}

body{
	font-family: monospace;
	background-color: #333;
	color: #eee;
}

#display{
	padding: 20px;
	font-family: monospace;
	white-space: pre;
}

p.line{
	line-height: 23px;
}

p.line-data{
	background-color: rgba(50, 200, 255, 0.05);
	margin: 5px 3px 10px 5px;
	border: 1px rgba(50, 200, 255, 0.2) solid;
	border-left: 5px rgba(50, 200, 255, 0.2) solid;
}

p.line-nodata{
	color: #aaa;
}

p:target{
	background-color: #552;
}

.detailsButtonContainer{
	display: inline-block;
	width: 25px;
	height: 17px;
}

.detailsButtonContainer>button{
	height: 20px;
	width: 20px;
	margin: 4px 0px 0px 2px;
	border: none;
	background: none;
	cursor: pointer;
	position: absolute;
	display: inline-block;
	color: #eee;
}

.detailsButtonContainer>button:hover{
	/*background: linear-gradient(180deg, #777 0%, #444 100%);*/
	color: rgba(50, 200, 255, 1);
}

.detailsButtonContainer>button:active{
	/*background: linear-gradient(0deg, #444 0%, #222 100%);*/
}

.detailsButtonContainer>button.expanded{
	color: rgba(255, 255, 255, 0.3);
}

p:hover .detailsButtonContainer>button{
	display: inline-block;
}

#detailsOverlay{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	align-items: center;
	justify-content: center;
}

#detailsOverlay.visible{
	display: flex;
}

#details{
	border: 1px #000 solid;
	background-color: #333;
	flex: 1;
	max-width: 800px;
	margin: 100px;
	padding: 20px;
	font-size: 1.7em;
}

.parenContents{
	margin-left: 25px;
}

a{
	color: rgba(50, 200, 255, 1);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	
}

.entityChildren.collapsed{
	display: none;
}

.entityChildren.expanded{
	display: block;
}